<div class="display">
  <div *ngFor = "let i of info" class="card">
    <section>
      <img class="img" [src]="i.image" alt="image">
    </section>
     <section class="right">
      <div>
        <h1>{{i.name}}</h1>
      </div>    
      <div>
        <h4>Estado: {{i.status}}</h4>
      </div>
      <div>
        <h4>Genero: {{i.gender}}</h4>
      </div>
      <div>
        <h4>Especie: {{i.species}}</h4>
      </div>
      <div>
        <h4>Origen: {{i.origin.name}}</h4>
      </div>
    </section>
    </div>
  
</div>